html, body{
    margin: 0;
    border: border-box;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 10px 10px;
    align-items: center;
    background-color: rgba(9,9,11,1);
    position: relative;
}
.navbar-logo{
    font-size: x-large;
    font-family: Helvetica;
    font-weight: 600;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 4px 10px;
}
.nav-link{
    color: grey;
}
.nav-link:hover{
    color: rgb(187, 186, 186);
    text-decoration: underline;
    cursor: pointer;
}
.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
@media(max-width: 1000px){
html, body{
    margin: 0;
    border: border-box;
    color: white;
}
/* .navbar-container{
    display: flex;
    justify-content: center;
    background-color: rgb(9,9,12);
} */
.navbar{
    width: 100%;
    padding: 10px 20px;
}
.nav-links{
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #111;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    z-index: 10;
    color: aliceblue;
}
.nav-link{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-links.active{
    display: flex;
}
.hamburger{
    display: block;
}
}